/* ===== Reset ===== */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;
}

a,
button,
input,
textarea {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input::placeholder,
textarea::placeholder {
    color: inherit;
    opacity: 0.7;
}

a {
    display: inline-block;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    display: block;
    width: max-content;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input,
textarea {
    background-color: transparent;
    border: none;
    padding-block: 0;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0064FE;
    --text-color: #1E1E1E;
    --black: #2E2E2E;
    --white: #fff;
    --bg-color: #F3F3F3;
    --accent: #FE006B;
}

/* Fonts =======================================*/
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy SemiBold'), local('Gilroy-SemiBold'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}




/* Global =====================*/
body {
    font-family: 'Gilroy';
    color: var(--text-color);
    font-size: 18px;
    background-color: var(--bg-color);
}

h2 {
    font-family: 'Raleway';
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    font-family: 'Gilroy';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%
}

h4 {
    font-family: 'Gilroy';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%
}

.wrapper {

    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {

    flex: 1 1 auto;
}

.container {
    position: relative;
    max-width: 1724px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.main-btn {
    padding: 17px 42px;
    background-color: var(--black);
    border-radius: 60px;
    color: var(--white);
    min-width: 264px;
    text-align: center;
}

.reverse {
    flex-direction: row-reverse;
}

.banner__half {
    background-repeat: no-repeat;
    background-size: cover;
}

/* Site ========================*/

/* header =============*/
.header {
    position: absolute;
    width: 100%;
    z-index: 99;
}

.header__main {
    padding: 14px 0;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.header__main .header__logo {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header__main .header__logo img {
    width: 140px;
    object-fit: cover;
}

.header__link {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}

.header__leng {
    position: relative;
    padding-right: 12px;
    font-weight: 500;
    color: #2E2E2E;
    cursor: pointer;
}

.header__leng::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(../img/icons/sub.svg);
    width: 8px;
    height: 4px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__main .header__link>img {
    width: 24px;
    margin-left: 50px;
    cursor: pointer;
}

.header__top {
    position: absolute;
    top: -310px;
    left: 0;
    width: 100%;
    height: 310px;
    background-color: #fff;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image: url(../img/header-decor.png);
    background-repeat: no-repeat;
    background-position: right top;
    text-align: center;
    padding: 39px 0 74px;
    transition: all 0.4s;
}

.header__top.is_open {
    top: 0;
    pointer-events: visible;
    z-index: 999;
}

.header__top--text {
    margin-top: 10px;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

.header__top--nav ul {
    display: flex;
    justify-content: center;
    margin-top: 73px;
}

.header__top--nav ul li {
    margin-right: 42px;
    color: #B8B8B8;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}


.main-offer {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 100vh;
}

.main-offer__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-offer__video video {
    width: 60%;
    height: auto;
    object-fit: contain;
}

/* Player ========================= */

.player {
    max-width: 264px;
    max-height: 74px;
    height: 74px;
    padding: 6px 12px;
    border-radius: 37px;
    background-color: #fff;
    margin: 32px auto;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.player__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background-color: #0064FE;
    cursor: pointer;
}

.player__start,
.player__stop {
    position: absolute;
}

.player__start {
    z-index: 1;
    padding-left: 5px;
}

.player__stop {
    z-index: 2;
}

.player__sound {
    background-color: #585858;
    margin-left: 66px;
}

.player__din {
    width: max-content;
    display: flex;
    gap: 4px;
    margin-left: auto;
}

.player .player__din span {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #585858;
    margin-left: auto;
    animation: play 12s ease-in-out 1s reverse infinite;
}

.player .player__din span:nth-last-child(1) {
    margin-right: 0;
    animation-duration: 8s;

}

.player .player__din span:nth-last-child(2) {
    margin-right: 0;
    animation-duration: 20s;
}


/* Banner ========================*/
.banner {
    position: relative;
    width: 100%;
    border-radius: 100px;
    overflow: hidden;
    background-color: #fff;
    margin: 25px 0;
    display: flex;
}

.banner.best {
    position: relative;
}

.banner.best::after {
    position: absolute;
    content: 'Bestseller';
    top: 32px;
    right: 140px;
    background-color: var(--accent);
    color: var(--white);
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%;
    padding: 4px 10px 3px;
    border-radius: 30px;
    text-transform: uppercase;
}

.banner h2 {
    margin-bottom: 32px;
}

.banner h4 {
    margin-bottom: 18px;
}

.banner p {
    margin-bottom: 40px;
}

.banner__half {
    width: 50%;
}

/* Camon 20 =====================*/
.camon20__banner>.banner__half {
    padding: 32px 140px 32px 24px;
}

.camon20__banner--bg {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.camon20__banner--bg img {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
}

.camon20__bottom {
    display: flex;
    /* gap: 24px; */
}

.video-button {
    position: relative;
    cursor: pointer;
    height: 116px;
    width: calc(100% - 24px);
    margin-left: 24px;
    border-radius: 60px;
    background-image: url(../img/video-btn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-button:hover {
    background-image: url(../img/video-btn-h.jpg);
}

.video-button__logo {
    position: absolute;
    left: 40px;
    top: 30px;
}

.video-button+h4 {
    text-align: center;
    margin-top: 6px;
}

/* Pop 7 ================================*/
.pop7__banner {
    margin-top: 148px;
    margin-bottom: 50px;
}

.pop7__banner>.banner__half {
    padding: 32px 170px 32px 94px;
}

.pop7__banner>.banner__half h4 {
    max-width: 547px;
}

.pop7__banner--bg {
    background-size: 100%;
    background-position: right center;
    background-repeat: no-repeat;
}

#pop7img {
    position: absolute;
    height: 90%;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Spark 10 ================================*/

.spark10__banner>.banner__half {
    padding: 32px 84px 32px 295px;
    background-position: right center;
}

.spark10__banner>.banner__half:nth-last-child(1) {
    width: 60%;
}

#spark10img {
    position: absolute;
    height: 90%;
    left: 47%;
    top: 50%;
    transform: translate(-50%, -50%);
}



/*================================= Catalog ==================================*/

.prev-link__wrapper {
    display: flex;
    align-items: center;
    margin-top: 118px;
}

.prev-link__wrapper h1 {
    margin-left: 73px;
}

.catalog__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 32px;
}

.catalog__item {
    padding: 48px 60px 32px;
    background-color: var(--white);
    border-radius: 100px;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 16px;
}

.card__text {
    color: #7F7F7F;
    text-align: center;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 78px;
}

.card a {
    color: #B8B8B8;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-top: 27px;
}

/* Footer ======================*/

.footer {
    margin-top: 257px;
    color: var(--white);

}

.footer__wrapper {
    position: relative;
    background-color: var(--main-color);
    padding: 100px 48px 24px 148px;
    border-top-right-radius: 39px;
    border-top-left-radius: 39px;
    width: 100%;
    background-image: url(../img/footer-decor.png);
    background-repeat: no-repeat;
    background-position: right top;
    z-index: 2;
}

.footer__logo {
    position: absolute;
    top: -96px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.footer__inner {
    display: flex;
    justify-content: start;
}

.footer__item {
    margin-right: 84px;
}

.footer__item h4 {
    margin-bottom: 24px;
}

.footer__item ul li {
    margin-bottom: 18px;
}

.footer__bottom {
    display: flex;
    justify-content: end;
}

.footer__bottom--inner {
    display: inline-block;
}

.footer__bottom--social ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 252px;
    margin-bottom: 16px;
}

.footer__bottom--copy {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 152.941%;
}

/* Key Frames ======================*/
@keyframes play {
    0% {
        width: 30px;
    }

    50% {
        width: 15px;
    }

    100% {
        width: 30px;
    }
}